{
	"repository": {
		"url": "root@server.com:~/git/example.git"
	},
	"server": {
		"production": {
			"host": "hostname",
			"user": "ssh-username",
			"path": "serverpath"
		},
		"staging": {
			"host": "hostname",
			"user": "ssh-username",
			"path": "serverpath"
		},
		"testing": {
			"host": "hostname",
			"user": "ssh-username",
			"path": "serverpath"
		},
		"development": {
			"host": "hostname",
			"user": "ssh-username",
			"path": "serverpath"
		}
	}

}